*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    color: white;
    
}
.container1{
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
    width: 1530px;
    padding: 20px 40px;

   
}
.img1{
    height: 50px;
}
.location_icon{
    display: flex;
}
.search_icon{
   background-color: orange;
   /* border: 5px solid orange; */
}
.right{
    display: flex;
    justify-content: space-between;
    width: 300px;
    /* background-color: brown; */
}
.nav-list{
    display: flex;
    justify-content: space-between;
    background-color:rgb(23, 23, 63); 
    color: white;
    padding: 20px 40px;
}
.nav_items{
    /* word-spacing: 20px; */
    justify-content: space-between;
}
a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
.Headline{
    height: 470px;
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img21/Wireless/WLA/unrec/D39822856_WLA_BAU_GW-Unrec-heroes_DesktopTallHero_3000x1200_p._CB623159886_.jpg");
    background-size: cover;
    /* flex-direction: column;
    justify-content: end; */
    display: grid;
    grid-auto-flow: column;
    justify-content:center ;
    align-items:end;
}
.Headline>p{
    background-color: grey;
}
.Headline>a{
    background-color: grey;
}